<app-header></app-header>
<div id="editLang">
  <div class="container text-light">
    <br><br>
    <h3 style="text-align: center;">Editar idioma</h3>
    <br>
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <div style="text-align: center;">
          <img src="../../../assets/imagenes/logoCobraKai.png" class="logI">
        <br>
        <img src="../../../assets/imagenes/Cobra-Kai-logo-white.png" class="logI">
        </div>
      </div>
      <div class="col-lg-6 col-xs-12">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="idiom">Idioma</label>
            <input type="text" class="form-control" id="idiom" name="idiom" [(ngModel)]="idioma.idiom" required>
          </div>
          <div class="form-group">
            <label for="escrito">Nivel escrito</label>
            <input type="text" class="form-control" id="escrito" name="escrito" [(ngModel)]="idioma.escrito" required>
          </div>
          <div class="form-group">
            <label for="oral">Nivel oral</label>
            <input type="text" class="form-control" id="oral" name="oral" [(ngModel)]="idioma.oral" required>
          </div>
          <div style="margin: 20px; text-align: center;">
            <button class="btn">
              Actualizar
            </button>
          </div>

        </form>
      </div>
      <div>
        <app-boton-volver></app-boton-volver>
      </div>
    </div>
  </div>


</div>
