
<div class="container" style="margin:20px">
<div class="row" >
  <div class="col-lg-5 col-xs-12" *ngFor="let ac of academico" style="margin: 20px;">

        <div class="row">
          <div class="col-12">
            <h4>{{ac.titulo}}</h4>
          </div>
          <div class="col-lg-8 col-xs-12">
            <h5>{{ac.establecimiento}}</h5>
            <h6>{{ac.establecimiento}}</h6>
            <p>Finalizo: {{ac.finalizado}}</p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p>Año de ingreso: {{ac.anioIngAcad}}</p>
            <p>Año de egreso: {{ac.anioEgAcad}}</p>

            <p>Promedio: {{ac.promedio}}</p>

          </div>

          <div *ngIf="isLogged" style="text-align: right; margin: 10px;">
            <button routerLink="/editarAcademico/{{ac.id}}"class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
            <button (click)="delete(ac.id)" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
          </div>
        </div>
  </div>
</div>
<div *ngIf="isLogged" style="text-align: center">
  <button routerLink="/crearAcademico" class="btn btn-light"><i class="bi bi-plus"><br>Agregar formacion academica</i></button>
</div>
</div>
