.wrap{
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/imagenes/cobraKaiBannerAmplio.png);
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;

  justify-content: center;

}

#cobraLogo{
  width: 300px;
}
.container{
  height: 100%;
  width: 100%;
}
.saludo{

  color: azure;
  text-align: right;
  padding-top: 50px;
  font-size: 30px;
  padding-right: 30px;
  font-family:Impact, 'Arial Narrow Bold', sans-serif

}
