<div class="container text-light">
  <p>

    <a  class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Ver mi formación académica
    </a>
  </p>
  <div class="collapse" id="collapseExample1">
    <div >
      <app-academico></app-academico>
    </div>
  </div>
  <br>
  <p>

    <a class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      Ver mi formación laboral
    </a>
  </p>
  <div class="collapse" id="collapseExample2">
    <div >
      <app-experiencia></app-experiencia>
    </div>
  </div>
  <br>
  <p>
    <a class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
      ver mis Hard Skills y Soft skills
    </a>
  </p>
  <div class="collapse" id="collapseExample3">
    <div>
      <app-skill></app-skill>
      <app-idiomas></app-idiomas>
    </div>
  </div>
  <br>
  <p>

    <a class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
      Ver mis proyectos
    </a>
  </p>
  <div class="collapse" id="collapseExample4">
    <div >
      <app-proyectos></app-proyectos>
    </div>
  </div>
</div>
