<div class="container">
  <div class="row" style="margin: 20px; text-align: left;">
    <h3>Acerca de mi</h3>
    <p>Hola, mi nombre es Alejandro, actualmente tengo 31 años. Empecé a desempeñarme en el ámbito de la programación de manera casual ya que lo que vi en un comienzo solo por curiosidad me llevo a interesarme mas y aún mas en el ambiente a tal modo que quiero hacer de esto mi estilo de vida.
      Aparte de la programación tambien me gusta hacer deporte. Practiqué PaKua entre otras cosas de lo cual llegué a ser cinto negro segundo grado. Me gusta socializar y ver mucho futbol. Tengo mucho interés en seguir aprendiendo.
    </p>

  </div>
</div>
